.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.hide{
  display: none;
}

.app{
  font: .9em Verdana;
  width: 95%;
  max-width: 400px;
  color: #333;
  margin:0 auto;
  padding: .5em;
}

  .app > header:first-child{
    overflow: hidden;
    padding: .5em;
  }
  h1.brand{
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    color: purple;
    float: left;
  }
    h1.brand span{
      opacity: .5;
      text-transform: lowercase;
    }
  nav.main{
    float: right;
  }
    nav.main a{
      margin: 0.5em;
      text-decoration: none;
      font-weight: bold;
      color: purple;
      background-color:#9b59b6; 
      border-bottom: 3px solid #8e44ad;
      border-radius: 2px;
      padding: 0 .5em;
      color: #ecf0f1;
    }
  .io{
    margin: .5em 0;
    padding: .5em;
  }
  .item-form{
  }
    .item-form input[type="text"]{
      font: 1.2em Tahoma !important;
      border: 1px solid #27ae60;
      border-radius: 2px;
      padding: .2em;
      width: 75%;
    }
    .item-form button{
      background-color: #1abc9c;
      color: #ecf0f1;
      border: none; 
      border-bottom: 3px solid #27ae60;
      border-radius: 2px;
      padding: .2em 1em;
      font: .9em Georgia !important;
      width: 20%;
      text-align: center;
      font-weight: bold;
    }
  .item-list .item{
    background-color: #ecf0f1;
    padding: .5em 1em;
    margin: .5em 0;
    color: #34495e;
    border-radius: 2px;
    text-shadow:0 0 1px #ecf0f1;
    font-size: 1.5em;
  }
    .item .data p, .item .count p{
      margin: 0;
      font-family: Tahoma;
    }
    .item .data{
      float: left;
      width: 55%;
      margin-right: .5em;
    }
    .item .count{
      float: left;
      width: 10%;
      font-size: 1.2em;
      color: #34495e;
    }
    .item .controls{
      float: right;
    }
      .item .controls a{
        text-decoration: none;
      }
      .item .controls a{
        background-color: #e67e22;
        border-bottom: 3px solid #d35400;
        border-radius: 2px;
        padding: .2em .5em;
        color: #ecf0f1;
        font-weight: bold;
        font-size: .7em;
        margin: 0 .1em;
      }
    .item .graph{
      clear: both;
      font-size: 1rem;
      text-align: center;
    }
    .graph .row{
      clear: both;
      padding: 0;
      margin: 0;
    }
    .graph label{
      font-size: .5em;
      text-transform: uppercase;
      color: #bbb;
      display: block;
      padding:1em 0;
    }
    .graph .cell{
      display: inline-block;
      background-color: #fafafa;
      height: 10px;
      width: 10px;
      border-radius: 2px;
    }
    .cell.empty{
      background-color: #fff;
      opacity: .5;
    }
    .cell.low{
      background-color: #d6e685;
    }
    .cell.medium{
      background-color: #8cc665;
    }
    .cell.high{
      background-color: #44a340;
    }
    .cell.insane{
      background-color: #1e6823;
    }