.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.hide{
  display: none;
}

a[class*='button-']{
  text-decoration: none;
  font-weight: bold;
  background-color:#ecf0f1; 
  border-bottom: 3px solid #bdc3c7;
  border-radius: 2px;
  padding: .2em .5em;
  color: #fff;
  text-shadow:0 0 2px #888;

  -webkit-transition: text-shadow .3s;
  -moz-transition: text-shadow .3s;
  transition : text-shadow .3s;
}
  a.button-green{
    background-color: #1abc9c;
    border-color: #27ae60;
  }
  a.button-purple{
    background-color: #9b59b6;
    border-color: #8e44ad;
  }
  a.button-orange{
    background-color: #e67e22;
    border-color: #d35400;
  }
  a[class*='button-']:hover{
    text-shadow:0 0 10px #fff;
  }
em{
  font-style: normal;
}

.app{
  font: .9em Tahoma;
  width: 95%;
  max-width: 400px;
  color: #333;
  margin:0 auto;
  padding: .5em;
}

  .app > header:first-child{
    overflow: hidden;
    padding: .5em;
  }
  h1.brand{
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    color: purple;
    float: left;
  }
    h1.brand span{
      opacity: .5;
      text-transform: lowercase;
    }
  nav.main{
    float: right;
  }
   
  .io{
    margin: 1em 0;
  }
    .io #addActivity{
    }
    .io.action-mode form{
      display: none;
    }
    .io.form-mode #addActivity{
      display: none;
    }
    .io a#addActivity{
      display: block;
      text-align: center;
      padding: .5em;
    }
    .io form input[type="text"]{
      border: 1px solid #27ae60;
      border-radius: 2px;
      padding: .2em;
      width: 60%;
    }
      .io form a[class*='button-']{
        margin: 0 .1em;
      }
      .io form a[class*='button-']:last-child{
        margin-right: 0;
      }
      .io form label[for="nature"]{
        font-size: .8rem;
        margin: 0 .5em;
      }

  .activity-list .activity{
    background-color: #ecf0f1;
    padding: .5em .4em;
    margin: .5em 0;
    color: #34495e;
    border-radius: 2px;
    border:1px solid #eee;
    text-shadow:0 0 1px #ecf0f1;
    font-size: 1.5em;
  }
    .activity .data p, .activity .count p{
      margin: 0;
      font-family: Tahoma;
    }
    .activity .data{
      float: left;
      width: 50%;
      margin-right: .5em;
      color: #800080;
    }
    .activity .count{
      float: left;
      width: 25%;
      font-size: 1.2em;
      color: #34495e;
    }
       .activity .count p{
        padding: 0;
        margin: 0;
       }
      .activity .count p.today{
        float: left;
        width: 45%;
        color: #800080;
        text-align: right;
      }
      .activity .count p.total{
        float: right;
        width: 45%;
        color: #CE9DCE;
        text-align: left;
        font-size: .8em;
        border-left: 1px solid #CE9DCE;
        padding-left: .2em;
      }
        .activity .count .total em{
          font-size: .8em;
        }
        .activity .count label{
          font-size: .4em;
          margin: 0;
          padding: 0;
          display: block;
          text-transform: uppercase;
        }
    .activity .controls{
      float: right;
    }
      .activity .controls a{
        text-decoration: none;
      }
    .activity .more{
      display: none;
      text-align: center;
    }
      .activity.expanded .more{
        display: block;
      }
      .more .buttons{
      margin:2em 0 .5em 0;
      font-size: .7em;
    }

    .activity .graph{
      clear: both;
      font-size: .21rem;
      text-align: center;
      opacity: .8;
    }
    .graph .cell{
      display: inline-block;
      background-color: #fafafa;
      height: 8px;
      width: 8px;
      border-radius: 2px;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
    }
    .cell.empty{
      background-color: #fafafa;
      opacity: .8;
    }
      .good .cell.low{
        background-color: #d6e685;
      }
      .good .cell.medium{
        background-color: #8cc665;
      }
      .good .cell.high{
        background-color: #44a340;
      }
      .good .cell.insane{
        background-color: #1e6823;
      }
      .bad .cell.low{
        background-color: #EDB5B0;
      }
      .bad .cell.medium{
        background-color: #DF7B71;
      }
      .bad .cell.high{
        background-color: #DA685C;
      }
      .bad .cell.insane{
        background-color: #C0382B;
      }
.intro{
  color: purple;
  background: #fff url(../img/goldengate.png) no-repeat -150px -200px;
  height: 340px;
  padding: 1em;
  text-shadow:0 0 10px #fff;
}
  .intro h2{
  }
  .intro .highlights{
    list-style: none;
    margin: 0;
    padding: 0;
    padding: .2em;
  }
    .highlights li{
      margin: 1em 0;
    }