<section class='row container'>
  <div class="data">
    <p class="name"><%= name %></p>
  </div>

  <div class="count container">
    <p class="today"><label>today</label> <em><%= dayCount %></em></p>
    <p class="total"><label>total</label> <em><%= count %></em></p>
  </div>

  <div class="controls">
    <a class='button-orange increment' href="javascript:void(0);">+1</a>
  </div>
</section>

<section class='row container'>
  <article class='graph'>
  </article>
</section>

<div class='more'>
</div>

