<div class='intro'>
  <h1>A tool for tracking your activities.</h1>
  <p><a id="loadSample" href="javascript:void(0);" class="button-orange"> Start tracking with sample data</a></p>
  <table class="highlights">
    <tbody>
      <tr>
        <td>
          <i class='icon-dollar'></i>
          <p>Free and <a href="https://github.com/vraa/countrack" title="Get Source code">open source</a>.</p>
        </td>
        <td>
          <i class='icon-user-add'></i>
          <p>No Registration required.</p>
        </td>
      </tr>
      <tr>
        <td>
          <i class='icon-lock'></i>
          <p>Your data never leaves the browser, unless you backup.</p>
        </td>
        <td>
          <i class='icon-cloud'></i>
          <p>Optionally, you can backup your data to <a href="help/firebase.html">Firebase</a>.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <footer>
    Developed by <a href="http://veerasundar.com">Veera</a>. <a href="http://twitter.com/vraa">Contact</a>.
  </footer>
</div>