<div class="menu">
  <div class='mask'></div>
  <ul>
    <li>
      <a class='button-purple' href="javascript:void(0);" id="export"><strong><i class='icon-upload'></i> Export data</strong> <span>Save as a file</span></a>
    </li>
    <!--
    <li>
      <a class='button-purple' href="javascript:void(0);" id="import"><strong><i class='icon-download'></i> Import data</strong> <span>From a saved file</span></a>
    </li>
    -->
    <li>
      <a class='button-grey' href="javascript:void(0);" id="cancelMenu"><strong>Cancel</strong></a>
    </li>
    <li class="footer">
      Developed by <a href="http://veerasundar.com">Veera</a> | <a href="https://github.com/vraa/countrack">Contribute</a>.
    </li>
  </ul>
</div>